In [16]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.svm import LinearSVC
from sklearn.neural_network import multilayer_perceptron
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer,TfidfTransformer
from sklearn.cross_validation import train_test_split

In [17]:
word=['Chinese Beijing Chinese', 'Chinese Chinese Shanghai', 
     'Chinese Macao','Tokyo Japan Chinese','Chinese, Chinese, Chinese, Tokyo, Japan'
     ]
word

['Chinese Beijing Chinese',
 'Chinese Chinese Shanghai',
 'Chinese Macao',
 'Tokyo Japan Chinese',
 'Chinese, Chinese, Chinese, Tokyo, Japan']

In [9]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\agri fina\anaconda2\lib\site-packages

In [18]:
class_=['yes','yes','yes','no','yes']

In [19]:
data=pd.DataFrame(word,columns=['word']).join(pd.DataFrame(class_,columns=['class']))
data

                                      word class
0                  Chinese Beijing Chinese   yes
1                 Chinese Chinese Shanghai   yes
2                            Chinese Macao   yes
3                      Tokyo Japan Chinese    no
4  Chinese, Chinese, Chinese, Tokyo, Japan   yes

In [20]:
data_train=data[:][:4]
data_train

                       word class
0   Chinese Beijing Chinese   yes
1  Chinese Chinese Shanghai   yes
2             Chinese Macao   yes
3       Tokyo Japan Chinese    no

In [21]:
data_test=data[:][4:]
data_test

                                      word class
4  Chinese, Chinese, Chinese, Tokyo, Japan   yes

In [22]:
vec=CountVectorizer(max_df=10000)
x=vec.fit_transform(data_train['word'])
print vec.get_feature_names()
print x.toarray()

[u'beijing', u'chinese', u'japan', u'macao', u'shanghai', u'tokyo']
[[1 2 0 0 0 0]
 [0 2 0 0 1 0]
 [0 1 0 1 0 0]
 [0 1 1 0 0 1]]

In [23]:
#clf=MultinomialNB().fit(x,data_train['class'])
from sklearn.feature_extraction.text import TfidfVectorizer
args = {
    "stop_words": "english",
    "lowercase": True,
    "norm": "l2",
    "use_idf": True,
    "smooth_idf": True,
    "sublinear_tf": True
}
vectorizer = TfidfVectorizer(**args)

In [24]:
from sklearn.pipeline import Pipeline
text_clf=Pipeline([
        ('tfidf',TfidfVectorizer(**args)),
        ('clf',MultinomialNB()),
        
    ]
)
text_clf=text_clf.fit(data_train['word'],data_train['class'])
print text_clf.predict(data_test['word'])
print text_clf.predict_proba(data_test['word'])
print text_clf.classes_

['yes']
[[ 0.38054192  0.61945808]]
['no' 'yes']

In [25]:
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix
print accuracy_score(text_clf.predict(data_test['word']),data_test['class'])
print confusion_matrix(text_clf.predict(data_test['word']),data_test['class'])

1.0
[[1]]